<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Forge</title>
    </head>
    <body>
        {{> header}}
        <p>{{ welcomeMessage}}</p>
        <ul style="list-style-type: none;">
            <li><a href="/projects/weatherApp">Weather App</a></li>
        </ul>
       {{> footer}}
    </body>
</html>