<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Forge</title>
    </head>
    <body>
        {{> header}}
        <p>{{welcomeMessage}}</p>
        <p>Currently, at the address of: "{{address}}", DarkSky Weather data indicates: {{temperatureData}}</p>
       {{> footer}}
    </body>
</html>